
.p-orderlist-list {
    height: 100% !important;
}

.p-orderlist-list-container {
    display: grid !important;
    align-items: stretch !important;
}

.p-orderlist-list {
    max-height: 100% !important;
}

.p-orderlist-controls {
    display: none !important;
}

.p-scrollpanel {
    height: 100% !important;
    max-height: 100% !important;
}
